body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    background-image: url("sfondo.jpg");

  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
  }

  #Voome{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  h1 {
    font-size: 70px;
    color: #000000;
    font-weight: bold;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
  }
  
  .clocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .city-clock {
    flex: 1 0 25%;
    max-width: 25%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .city-clock h2 {
    font-size: 35px;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .clock {
    font-size: 48px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .date {
    font-size: 16px;
    color: #000000;
  }
  
  @media screen and (max-width: 768px) {
    .city-clock {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .city-clock {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
  